In [1]:
import pandas as pd
from tqdm import tqdm

In [32]:
df = pd.read_json('News_Category_Dataset_v3.json', lines=True)

In [33]:
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [4]:
df.drop(columns=['link', 'authors', 'date'], axis=1, inplace=True)

In [5]:
df.head()

,headline,category,short_description
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha..."
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to..."
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...

In [6]:
df.isna().sum()

headline             0
category             0
short_description    0
dtype: int64

In [7]:
df.drop(columns=['headline'], axis=1, inplace=True)

In [8]:
df.head()

    category                                  short_description
0  U.S. NEWS  Health experts said it is too early to predict...
1  U.S. NEWS  He was subdued by passengers and crew when he ...
2     COMEDY  "Until you have a dog you don't understand wha...
3  PARENTING  "Accidentally put grown-up toothpaste on my to...
4  U.S. NEWS  Amy Cooper accused investment firm Franklin Te...

In [9]:
len(df['category'].unique())

42

In [10]:
sorted(df['category'].unique())

['ARTS',
 'ARTS & CULTURE',
 'BLACK VOICES',
 'BUSINESS',
 'COLLEGE',
 'COMEDY',
 'CRIME',
 'CULTURE & ARTS',
 'DIVORCE',
 'EDUCATION',
 'ENTERTAINMENT',
 'ENVIRONMENT',
 'FIFTY',
 'FOOD & DRINK',
 'GOOD NEWS',
 'GREEN',
 'HEALTHY LIVING',
 'HOME & LIVING',
 'IMPACT',
 'LATINO VOICES',
 'MEDIA',
 'MONEY',
 'PARENTING',
 'PARENTS',
 'POLITICS',
 'QUEER VOICES',
 'RELIGION',
 'SCIENCE',
 'SPORTS',
 'STYLE',
 'STYLE & BEAUTY',
 'TASTE',
 'TECH',
 'THE WORLDPOST',
 'TRAVEL',
 'U.S. NEWS',
 'WEDDINGS',
 'WEIRD NEWS',
 'WELLNESS',
 'WOMEN',
 'WORLD NEWS',
 'WORLDPOST']

In [11]:
df['category'].value_counts()

POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
Name: category, dtype: int64

In [12]:
df[df['category'] == 'EDUCATION'].sample(15)

         category                                  short_description
121663  EDUCATION  The lack of women and minorities in philosophy...
115422  EDUCATION  Gone are the days of President Reagan's ketchu...
107116  EDUCATION  Given those kinds of positive results for Wisc...
103679  EDUCATION  I've resisted this notion for a long time. The...
119813  EDUCATION  This new way of looking at ELL students, as un...
42577   EDUCATION  Each year, the Gates Foundation issues an annu...
119219  EDUCATION  Marc Tucker, president and chief executive of ...
36249   EDUCATION  One of the great contradictions within corpora...
128606  EDUCATION  Nationwide, adolescents and teens are routinel...
35616   EDUCATION  There’s a lot of banter about the substance an...
23978   EDUCATION  "We may see it all as rhetoric and posturing, ...
116329  EDUCATION  We know that early education creates a foundat...
42298   EDUCATION  "We have no intention of backing down no matte...
57500   EDUCATION  I am a native New Yorkers so I have hated San ...
99344   EDUCATION  Overshadowing this admirable cultural exchange...

In [13]:
df.iloc[132924].short_description

''

In [14]:
# removing empty string values from data
new_description_list = []
category_list = []

for i in tqdm(range(len(df))):
    curr_text = df.iloc[i].short_description
    curr_label = df.iloc[i].category
    
    if curr_text == '':
        continue
    else:
        new_description_list.append(curr_text)
        category_list.append(curr_label)

100%|████████████████████████████████████████████████████████████████████████| 209527/209527 [00:49<00:00, 4228.01it/s]

In [15]:
len(new_description_list) == len(category_list)

True

In [16]:
len(new_description_list)

189815

In [17]:
new_df = pd.DataFrame()
new_df['description'] = new_description_list
new_df['label'] = category_list

In [30]:
# new_df

In [18]:
len(new_df['label'].unique())

42

In [19]:
new_df['label'].value_counts()

POLITICS          32441
WELLNESS          17943
ENTERTAINMENT     14774
STYLE & BEAUTY     9802
TRAVEL             9421
PARENTING          8790
FOOD & DRINK       6331
QUEER VOICES       5603
HEALTHY LIVING     5265
BUSINESS           5132
COMEDY             4642
SPORTS             4414
HOME & LIVING      4317
BLACK VOICES       4177
THE WORLDPOST      3664
WEDDINGS           3653
PARENTS            3556
DIVORCE            3426
WORLD NEWS         3297
WOMEN              3184
IMPACT             3086
CRIME              2832
MEDIA              2404
WEIRD NEWS         2316
TECH               2103
GREEN              2046
TASTE              1940
RELIGION           1879
SCIENCE            1803
MONEY              1755
STYLE              1567
ENVIRONMENT        1442
U.S. NEWS          1377
ARTS & CULTURE     1339
WORLDPOST          1242
CULTURE & ARTS     1063
FIFTY              1042
GOOD NEWS          1039
LATINO VOICES      1022
COLLEGE             921
EDUCATION           902
ARTS                863
Name: label, dtype: int64

In [20]:
new_df[new_df['label'] == 'EDUCATION'].sample(25)

                                              description      label
80421   I will be glad to see NCLB left behind and RTT...  EDUCATION
98392   Talent is fueled by a natural curiosity and lo...  EDUCATION
110303  There should have been a conversation about wh...  EDUCATION
25125   The mandated curriculum, we decided, would nev...  EDUCATION
107527  This new way of looking at ELL students, as un...  EDUCATION
94365   High school exchanges participants make a prof...  EDUCATION
111090  If you do not object to another remake of ET w...  EDUCATION
111597  "So I guess you just deny that there are any b...  EDUCATION
56988   These steps do take work.  Effort.  From you b...  EDUCATION
183     When Minneapolis teachers settled a 14-day str...  EDUCATION
97119   Teachers are important and have the extreme ab...  EDUCATION
110435  Both national teachers' unions have recently g...  EDUCATION
23969   We are missing out on the full potential of al...  EDUCATION
94279   Last week's Curios covered why we forget thing...  EDUCATION
100593  Winston Churchill once defended democracy by c...  EDUCATION
96194   HackingFutbol was a great example of what can ...  EDUCATION
102432  How did they do it? How did an island nation o...  EDUCATION
30035   As I’ve written, attacks on academia are bread...  EDUCATION
35609   The Trump administration hasn’t been shy about...  EDUCATION
100304  Reading is their sanctuary, their Holy of Holi...  EDUCATION
106713  A simple way for teachers to bring mindfulness...  EDUCATION
37148   We already know what it looks like, and it doe...  EDUCATION
61207   Mr. MacNeil has taken steps in the past to pre...  EDUCATION
38168   You can use this handy field guide to determin...  EDUCATION
63596   Over 155 million Americans play video games, a...  EDUCATION

In [21]:
# new_df.sample(50)

In [22]:
new_df['label'].value_counts()

POLITICS          32441
WELLNESS          17943
ENTERTAINMENT     14774
STYLE & BEAUTY     9802
TRAVEL             9421
PARENTING          8790
FOOD & DRINK       6331
QUEER VOICES       5603
HEALTHY LIVING     5265
BUSINESS           5132
COMEDY             4642
SPORTS             4414
HOME & LIVING      4317
BLACK VOICES       4177
THE WORLDPOST      3664
WEDDINGS           3653
PARENTS            3556
DIVORCE            3426
WORLD NEWS         3297
WOMEN              3184
IMPACT             3086
CRIME              2832
MEDIA              2404
WEIRD NEWS         2316
TECH               2103
GREEN              2046
TASTE              1940
RELIGION           1879
SCIENCE            1803
MONEY              1755
STYLE              1567
ENVIRONMENT        1442
U.S. NEWS          1377
ARTS & CULTURE     1339
WORLDPOST          1242
CULTURE & ARTS     1063
FIFTY              1042
GOOD NEWS          1039
LATINO VOICES      1022
COLLEGE             921
EDUCATION           902
ARTS                863
Name: label, dtype: int64

In [75]:
new_df[new_df['label'] == 'WELLNESS'].sample(10)

                                              description     label
177263  Now that Secretary of Commerce John Bryson has...  WELLNESS
140462  C. diff (a bacteria that causes severe diarrhe...  WELLNESS
154602  Even if your daily diet contains healthy fare ...  WELLNESS
114684  I'm out of the darkest part of the woods, sure...  WELLNESS
127360  Gratitude causes us to pause and give value fo...  WELLNESS
184286  Expanding love gets down to appreciating that ...  WELLNESS
162284  Too often, we jump to take extreme measures to...  WELLNESS
186233  While undergoing the brain scans, the study pa...  WELLNESS
184488  This, according to the researchers, represents...  WELLNESS
123474  "Before you pick up another cigarette, know th...  WELLNESS

In [74]:
new_df.iloc[103335].description

"Being overwhelmed is not a fact -- it's a state of consciousness that limits your freedom and happiness. It requires a shift in perspective. Bring yourself back to the present moment.  Remember that you have a choice about the way you want to feel."

In [70]:
# keeping only those categories which will be relevant and which contains a good amount of data 
# to be trained so that model does not become aggressive for a particular category

categories_to_retain = [
    'POLITICS', 'WELLNESS', 'ENTERTAINMENT', 'STYLE & BEAUTY', 'FOOD & DRINK', 'TASTE', 'HEALTHY LIVING', 'BUSINESS', 
    'MONEY', 'CRIME', 'WORLD NEWS', 'THE WORLDPOST', 'SCIENCE', 'TECH', 'ENVIRONMENT', 'GREEN', 'SPORTS'
]

In [83]:
final_df = new_df[new_df['label'].isin(categories_to_retain)]

In [72]:
# final_df

In [84]:
# mapping categories into smallcase letters and also merging few categories which are aligned close to each other
mapping_dict = {
    'POLITICS': 'politics', 
    'WELLNESS': 'health', 
    'ENTERTAINMENT': 'entertainment', 
    'STYLE & BEAUTY': 'fashion', 
    'FOOD & DRINK': 'food_and_beverages', 
    'TASTE': 'food_and_beverages', 
    'HEALTHY LIVING': 'health', 
    'BUSINESS': 'business', 
    'MONEY': 'business', 
    'CRIME': 'crime', 
    'WORLD NEWS': 'world_news', 
    'THE WORLDPOST': 'world_news', 
    'SCIENCE': 'science_and_technology', 
    'TECH':  'science_and_technology', 
    'ENVIRONMENT': 'enviornment', 
    'GREEN': 'enviornment',
    'SPORTS': 'sports'
}

In [85]:
final_df['label'] = final_df['label'].map(mapping_dict)

C:\Users\Darpan Chanana\AppData\Local\Temp/ipykernel_18756/2268595642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['label'] = final_df['label'].map(mapping_dict)

In [86]:
# final_df

In [87]:
final_df.isna().sum()

description    0
label          0
dtype: int64

In [88]:
final_df['label'].value_counts()

politics                  32441
health                    23208
entertainment             14774
fashion                    9802
food_and_beverages         8271
world_news                 6961
business                   6887
sports                     4414
science_and_technology     3906
enviornment                3488
crime                      2832
Name: label, dtype: int64

In [89]:
sorted(final_df['label'].unique())

['business',
 'crime',
 'entertainment',
 'enviornment',
 'fashion',
 'food_and_beverages',
 'health',
 'politics',
 'science_and_technology',
 'sports',
 'world_news']

In [90]:
len(final_df)

116984

In [91]:
final_df.to_csv('final_data_for_training.csv', index=False)